In [236]:
import pandas as pd
df=pd.read_csv('ss13hil.csv',usecols=['HHL','HHT','WGTP','HINCP','ACCESS'], header=0,skip_blank_lines=True)
hhtdesc={
    1:'Married couple household',
 2:'Other family household:Male householder, no wife present',
 3:'Other family household:Female householder, no husband present', 
 4:'Nonfamily household:Male householder:Living alone',
 5:'Nonfamily household:Male householder:Not living alone', 
 6:'Nonfamily household:Female householder:Living alone',
 7:'Nonfamily household:Female householder:Not living alone'
}
hhldesc={
    1:'English only',
 2:'Spanish',
 3:'Other Indo-European languages',
 4:'Asian and Pacific Island languages',
 5:'Other language'
}
pd.set_option('display.max_column',500)
pd.set_option('display.max_colwidth',100)
pd.set_option('display.width',1000)
pd.set_option('display.float_format','{:.6f}'.format)
df['HHT'] = pd.to_numeric(df['HHT'], errors='coerce') 
df.dropna(subset=['HHT'], inplace=True)
print(df['HHT'].head(20))
df['HHT-assigned']=df['HHT'].apply(lambda id : hhtdesc[int(id)])
print(df['HHT-assigned'])
table1=df.groupby('HHT-assigned').agg({'HINCP':['mean','std','count','min','max']})
table1.columns=['mean','std','count','min','max']
table1.sort_values(by='mean',ascending=False,inplace=True)

table1['min']=table1['min'].astype(int)
table1['max']=table1['max'].astype(int)
print(table1)

0    1.000000
1    4.000000
3    4.000000
4    3.000000
5    3.000000
6    1.000000
7    6.000000
8    1.000000
9    1.000000
11   4.000000
13   1.000000
14   1.000000
16   2.000000
18   4.000000
19   1.000000
21   4.000000
22   4.000000
23   6.000000
24   4.000000
25   1.000000
Name: HHT, dtype: float64
0                                             Married couple household
1                    Nonfamily household:Male householder:Living alone
3                    Nonfamily household:Male householder:Living alone
4        Other family household:Female householder, no husband present
5        Other family household:Female householder, no husband present
                                     ...
58198    Other family household:Female householder, no husband present
58199                                         Married couple household
58200    Other family household:Female householder, no husband present
58202         Other family household:Male householder, no wife present
58205              Nonfamily household:Female householder:Living alone
Name: HHT-assigned, Length: 49673, dtype: object
                                                                       mean           std  count    min      max
HHT-assigned
Married couple household                                      106790.565562 100888.917804  25495  -5100  1425000
Nonfamily household:Male householder:Not living alone          79659.567376  74734.380152   1410      0   625000
Nonfamily household:Female householder:Not living alone        69055.725901  63871.751863   1193      0   645000
Other family household:Male householder, no wife present       64023.122122  59398.970193   1998      0   610000
Other family household:Female householder, no husband present  49638.428821  48004.399101   5718  -5100   609000
Nonfamily household:Male householder:Living alone              48545.356298  60659.516163   5835  -5100   681000
Nonfamily household:Female householder:Living alone            37282.245015  44385.091076   8024 -11200   676000

In [237]:
#tabel2
pd.set_option('display.max_column',500)
pd.set_option('display.max_colwidth',100)
pd.set_option('display.width',1000)
pd.set_option('display.float_format',"{:.2%}".format)
accdesc={1:'Yes w/ Subsrc.', 2:'Yes, wo/ Subsrc.', 3:'No'}

df['HHL'] = pd.to_numeric(df['HHL'], errors='coerce') 
df.dropna(subset=['HHL'], inplace=True)
df['ACCESS'] = pd.to_numeric(df['ACCESS'], errors='coerce') 
df.dropna(subset=['ACCESS'], inplace=True)
df['WGTP'] = pd.to_numeric(df['WGTP'], errors='coerce') 
df.dropna(subset=['WGTP'], inplace=True)

df['ACCESS']=df['ACCESS'].apply(lambda id: accdesc[int(id)])


df['HHL-assigned']=df['HHL'].apply(lambda id : hhldesc[int(id)])

table2=pd.crosstab(index=df['HHL-assigned'],values=df['WGTP'],aggfunc='sum',columns=df['ACCESS'],margins=True,normalize='all')
cust_columns=['Yes w/ Subsrc.','Yes, wo/ Subsrc.','No','All']
cust_index = ['English only', 'Asian and Pacific Island languages', 'Other Indo-European languages', 'Other language', 'Spanish', 'All']

table2 = table2.reindex(columns=cust_columns,index=cust_index)


print(table2)

0         12
1         65
3         56
4        201
5        144
        ...
58198     96
58199    120
58200    260
58202    491
58205     83
Name: WGTP, Length: 49673, dtype: int64
0                    No
1        Yes w/ Subsrc.
3        Yes w/ Subsrc.
4                    No
5        Yes w/ Subsrc.
              ...
58198    Yes w/ Subsrc.
58199    Yes w/ Subsrc.
58200    Yes w/ Subsrc.
58202                No
58205    Yes w/ Subsrc.
Name: ACCESS, Length: 49673, dtype: object
0                         English only
1                         English only
3                         English only
4                         English only
5                         English only
                     ...
58198                     English only
58199                          Spanish
58200    Other Indo-European languages
58202                          Spanish
58205                     English only
Name: HHL-assigned, Length: 49673, dtype: object
ACCESS                              Yes w/ Subsrc.  Yes, wo/ Subsrc.     No     All
HHL-assigned
English only                                58.71%             2.93% 16.87%  78.51%
Asian and Pacific Island languages           2.73%             0.06%  0.28%   3.08%
Other Indo-European languages                5.11%             0.18%  1.19%   6.48%
Other language                               0.80%             0.03%  0.14%   0.97%
Spanish                                      7.83%             0.52%  2.60%  10.95%
All                                         75.19%             3.73% 21.08% 100.00%

In [238]:
#table3

pd.set_option('display.float_format',"{:.6f}".format)
df['HINCP'] = pd.to_numeric(df['HINCP'], errors='coerce') 
df.dropna(subset=['HINCP'], inplace=True)
grouping=pd.qcut(df['HINCP'],3,labels=['low','medium','high'])
grouped=df['HINCP'].groupby(grouping)
table3=grouped.describe()
display=['min','max','mean','count']
table3['min'] = table3['min'].round(0).astype(int)
table3['max'] = table3['max'].round(0).astype(int)
table3['count']=table3['count'].round(0).astype(int)

print(table3[display].rename(columns={'count':'household_count'}))

          min      max          mean  household_count
HINCP
low    -11200    37200  19599.486904            16570
medium  37210    81500  57613.846298            16545
high    81530  1425000 159047.588900            16558